<div class="reviews">
    {{#each this}}
    <section class="review">
        <div class="meta">
            {{ review }} on {{format_date}}
        </div>

        <div class="text">
            {{review_text}}
        </div>
    </section>
    {{/each}}
</div>