{{!-- route maid info to here; will follow template from homepage Module 14 on how it lists all posts from all users --}}

<ol class="maid-list">
  {{#each maids as |maid|}}
  <li>
    {{> maid-info maid }}
  </li>
  {{/each}}
</ol>
{{#if loggedIn}}
{{!-- List reviews left by loggedIn user --}}
  <h2>Your Reviews</h2>
  <ol>
    {{#each reviews as |review|}}
    <li>
      {{> review-info review}}
      <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
{{!-- <script src="/javascript/add-review.js"></script> --}}
<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>