<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2> Edit Review</h2>

    
    <form class="edit-review-form">
        <div>
            <label for="review-title">
                <h4>Title Update:
                    
                </h4>
                <textarea name="review-title" id="review-title">{{review.title}}</textarea>
            </label>
            <span>{{review.title}}</span>
        </div>

        <div>
            <a href="/review/{{review.id}}">{{review.length}}</a>
        </div>
        <button type="submit">Save Review</button>
        <button type="button" class="delete-review-btn">Delete Review</button>
    </form>
</article>

<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>
{{!-- <script src="/javascript/review.js"></script> --}}