<head>
    <link rel="stylesheet" href="/../stylesheets/schedule.css">

</head>

<article class="schedule">
    <a href="/dashboard" class="link"> &larr; Back to dashboard</a>
    


    <div class="title">
        {{ maid.name}}
    </div>

    <div class="meta">
        Availability
    </div>
    
    {{!-- show calendar and insert photo of week with time/day avaiable --}}
    <div class="calendar-container">
        <img src="/../assets/test-schedule.png" alt="calendar" class="calendar"/>
    </div>

    
</article>
