.schedule {
  margin-top: 100px;
}

/* nav */
nav {
    display: flex;
  }
  
  .nav {
    position: fixed;
    background-color: #333;
    width: 100%;
  }
  
  .nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Source Sans Pro";
  }
  
  li {
    float: left;
  }
  
  .nav a {
    padding: 16px 18px;
  }
  
  .nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  li a:hover {
    background-color: #7c717c;
  }
  
  /* footer section */
  .footer-credits {
    width: 100%;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
  }